* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

/* src/components/Calendar/styles.css */
.rbc-event {
  border-radius: 4px;
}

.rbc-event-type-event {
  background-color: blue !important;
}

.rbc-event-type-reminder {
  background-color: orange !important;
}
